<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="SQLServer" value="kxf5c82zk5.database.windows.net" />
    <add key="SQLServerDb" value="QuickFoodReview" />
    <add key="SQLServerUsr" value="quickfood@kxf5c82zk5.database.windows.net" />
    <add key="SQLServerPwd" value="" />

  </appSettings>
</configuration>